# Default ignored files
/shelf/
/workspace.xml

# Pycharm ignored files
workspace.xml
misc.xml
modules.xml
vcs.xml
profiles_settings.xml
inspectionProfiles/Project_Default.xml
UdacityRobotics-map-my-world.iml
